<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ask &amp; Go | Dashboard</title>

    <link rel="stylesheet" href="./assets/fonts.css" media="all" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/main.css" medis="all" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/dashboard.css" medis="all" title="no title" charset="utf-8">
  </head>
  <body>

    <h1 class="big margin-top-big center">Welcome to Ask &amp; Go!</h1>
    <div class = "container">
      <div class="row">
        <input type="button" name="logout" value="Logout" class="col-2-8 offset-3-8">

      </div>
    </div>

    <script type="text/javascript" src="./js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="./js/core.js"></script>
  </body>
</html>
