<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ask &amp; Go | Contacts</title>

    <link rel="stylesheet" href="./assets/fonts.css" media="all" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/main.css" medis="all" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/contacts.css" medis="all" title="no title" charset="utf-8">

  </head>
  <body>
    <nav>
      <div class="row">
        <div class="col-1-8">
          <div class="menu-box" id="menu">
            <div class="menu-img-wrap">
              <img src="./assets/imgs/icons/menu.png" class="menu-img">
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="menu" data-hidden="true">
      <ul class="row">
        <li class="row">
          <div class="row medium"><a href="/">Home</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./about">About Us</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./signup">Sign Up</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./login">Login</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./improve">Improve</a></div>
          <hr>
        </li>
      </ul>
    </div>
    <div class="row content">
      <q class="block-center center">Contact with us for
        <div class="animation-wrap">
          <div class="animation-element-hidden element">&nbsp;&nbsp;colloboration.</div>
          <div class="animation-element element">&nbsp;&nbsp;saying hello.</div>
        </div>
      </q>
      <div class="row img-to-bot center">
        <a href="#info" class="scroller"><img src="./assets/imgs/icons/arrow.png" class="arrow"></a>
      </div>
    </div>
    <div class="container content white-bg">
      <div class="row" id="info">
        <div class="row left margin-bottom-big"><h1 class="medium">Email</h1></div>
        <div class="row">
          <div class="row left margin-bottom">
            <div class="row"><a href="mailto:elenaiumagulova@gmail.com">elenaiumagulova@gmail.com</a></div>
            <br>
	          <div class="row"><a href="mailto:fsher@gmail.com">fsher@gmail.com</div>
          </div>
        </div>
	      <div class="row left margin-bottom-big margin-top-huge"><h1 class="medium">Tel</h1></div>
        <div class="row">
          <div class="row left margin-bottom">
            <div class="row"><a href="tel:+79992196843">+7 (999)-219-68-43</a></div>
            <br>
            <div class="row"><a href="tel:+79217933456">+7 (921)-793-34-56</a></div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="./js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="./js/scrolls.js"></script>
    <script type="text/javascript" src="./js/contacts.js"></script>

  </body>
</html>
