<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Ask &amp; Go | Improve us</title>

  <link rel="stylesheet" href="./assets/fonts.css" media="all" title="no title" charset="utf-8">
  <link rel="stylesheet" href="./css/main.css" medis="all" title="no title" charset="utf-8">
  <link rel="stylesheet" href="./css/improve.css" medis="all" title="no title" charset="utf-8">

</head>
  <body>
    <nav>
      <div class="row">
        <div class="col-1-8">
          <div class="menu-box" id="menu">
            <div class="menu-img-wrap">
              <img src="./assets/imgs/icons/menu.png" class="menu-img">
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="menu" data-hidden="true">
      <ul class="row">
        <li class="row">
          <div class="row medium"><a href="./">Home</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./about">About Us</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./contacts">Contacts</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./signup">Sign Up</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./login">Login</a></div>
          <hr>
        </li>
      </ul>
    </div>
    <div class="row content">
      <q class="block-center center"> You can tell us.
        <span style="position: relative; left: 53px;">Make it <div class="animation-wrap"><div class="animation-element-hidden element">faster.</div><div class="animation-element element">better.</div></div></span>
      </q>
      <div class="row img-to-bot center">
        <a href="imrove_us.html#form" class="scroller"><img src="./assets/imgs/icons/arrow.png" class="arrow"></a>
      </div>
    </div>
    <div class="container content white-bg">
      <form method="POST" class="row" id="form">

        <div class="row center margin-bottom-big"><h1 class="medium">We really want to hear from you!</h1></div>
        <div class="row">
          <div class="col-4-8 offset-2-8 center">
            <textarea name="improve_mes" data-autoresize rows="1" placeholder="Your Message"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-4-8 offset-2-8 center">
            <input type="email" name="improve_email" placeholder="Your Email">
          </div>
        </div>
        <div class="row">
          <div class="col-4-8 offset-2-8 center">
            <input type="text" name="improve_name" placeholder="Your Name">
          </div>
        </div>
        <div class="row">
          <div class="col-2-8 offset-3-8 center">
            <input type="button" name="improve_send" value="SEND">
          </div>
        </div>
        <div class="content row feed center"></div>
      </form>

    </div>

    <script type="text/javascript" src="./js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="./js/scrolls.js"></script>
    <script type="text/javascript" src="./js/text.js"></script>
    <script type="text/javascript" src="./js/improve.js"></script>

  </body>
</html>
