<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ask &amp; Go</title>

    <link rel="stylesheet" href="./assets/fonts.css" media="all" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/main.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    <div id="home"></div>
    <nav>
      <div class="row">
        <div class="col-1-8">
          <div class="menu-box" id="menu">
            <div class="menu-img-wrap">
              <img src="./assets/imgs/icons/menu.png" class="menu-img">
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="menu" data-hidden="true">
      <ul class="row">
        <li class="row">
          <div class="row medium"><a href="./about">About Us</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./contacts">Contacts</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./signup">Sign Up</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./login">Login</a></div>
          <hr>
        </li>
        <li class="row">
          <div class="row medium"><a href="./improve">Improve</a></div>
          <hr>
        </li>
      </ul>
    </div>
    <div class="container content">
      <div class="row center">
        <div class="col-6-8 offset-1-8">
	         <img src="./assets/imgs/logo.png" class="logo-img">
        </div>
      </div>
      <div id="particles-js"></div>
    </div>
    <div class="container content paint">
      <div class="row">
        <div class="col-4-8 offset-4-8 medium secondaryFont">
          <q>How are you feeling?
            <br>Is the weather bad today?
            <br>What are you up to?
            <br>Having a great day?
          </q>
          <p>These type of questions we will ask you to suggest you a place, where you can go. Easy as that.
          <p>No matter who you are, no matter what you like, we will find you... a place where you can relax or have an energetic evening.
        </div>
      </div>
    </div>
    <br>
    <div class="container content ground">
    </div>
    <br>
    <div class="content row center">
      <!--<span class="big upper enjoy-sign">Enjoy Ask&amp;Go</span>-->
      <div class="row img-to-bot">
      	<img src="./assets/imgs/ask_go_isaak.png" class="responsive-img" style="width: 25%">
      	<img src="./assets/imgs/ask_go_kazansky.png" class="responsive-img" style="width: 40%">
      	<img src="./assets/imgs/ask_go_galeria.png" class="responsive-img" style="width: 34%">

      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-4-8 margin-top-big margin-bottom-big">
            <div class="row">
              <div class="row medium">
                ASK &amp; GO
              </div>
              <div class="row margin-top-medium">
                St.Petersburg, ITMO University
              </div>
              <div class="row margin-top-medium">
                +7 (812) 232–97–04
              </div>
              <div class="row margin-top-big">
                Copyright &copy; Ask &amp; Go 2016
              </div>
            </div>
          </div>
          <div class="col-4-8">
            <div class="col-4-8 center upper follow box">
              <span>Follow Us</span>
              <div class="follow-items">
                <a href="https://github.com/fsher/ask-and-go"><img src="./assets/imgs/icons/github-circle.png" alt=""/></a>
                <a href="#"><img src="./assets/imgs/icons/vk.png" alt=""/></a>
              </div>
            </div>
            <div class="col-4-8 center upper box">
              <a href="./improve">Improve Us</a>
            </div>
          </div>
        </div>

      </div>
      <div class="row center scroll upper">
        <a href="/#home" class="scroller">Scroll Up</a>
      </div>
    </footer>

    <script type="text/javascript" src="./js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="./js/libs/particles.min.js"></script>
    <script type="text/javascript" src="./js/scrolls.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="./js/animation.js"></script>

  </body>
</html>
