body {
  background-color: #E5E5E5;
}

.login, .reg {
  position: absolute;
  top: 250px;
  opacity: 0;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}

.reg {
  top: 200px;
}

.errors {
  opacity: 0;
}

nav {

}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
  background-color: rgba(0,0,0,0);
}

:focus::-webkit-input-placeholder {color:#000;}
:focus::-moz-placeholder          {color:#000;}/* Firefox 19+ */
:focus:-moz-placeholder           {color:#000;}/* Firefox 18- */
:focus:-ms-input-placeholder      {color:#000;}
