html, body {
  background-color: #fae03c;
}

q {
  font-size: 3.44444em !important;
  border: 0 !important;
  z-index: 0;
}

.arrow {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.arrow:hover {
  width: 60px;
  margin-bottom: 19px;
}

#info {
  padding-top: 25%;
}

.animation-wrap {
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 73px;
  top: 13px;
}


.animation-element {
  position: absolute;
  top: 13px;
  left: 0;
  z-index: 5;
}

.animation-element-hidden {
  top: -60px;
  position: absolute;

}
